/* halaman berita *************************************************************************************************/
.berita-box{
    background: white;
    padding: 12px 40px 40px;
    margin: 50px auto;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
}
.judul-berita{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 15px;
    color: var(--hitam-utama);
}

.meta-berita{
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
    color: #777;
    font-size: .95rem;
}
.meta-berita i{
    margin-right: 6px;
    color: var(--hijau-utama);
}

.gambar-berita{
    margin-bottom: 30px;
}
.gambar-berita img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
}
.gambar-berita{
    overflow:hidden;
    border-radius:12px;
}
.gambar-berita img{
    transition:.5s;
}
.gambar-berita:hover img{
    transform:scale(1.1);
}

.isi-berita{
    font-size: 1rem;
    line-height: 1.9;
    color: #444;
    text-align: justify;
}
.isi-berita p{
    margin-bottom: 12px;
    text-indent: 2rem;
}

.berita-button .fa-arrow-left{
    transition: .3s;
}
.berita-button:hover .fa-arrow-left{
    transform: translateX(-6px);
}

@media (max-width: 768px){
    html{
        font-size: 12px;
    }
    /* NAVBAR */
  .navbar-brand img {
        width: 40px;
        height: 40px;
    }
    .judul-berita{
        font-size: 18px;
    }
    .meta-berita{
        margin-bottom: 16px;
    }
    .berita-box{
        padding: 4px 12px 12px;
        border-radius: 8px;
    }
    .gambar-berita img{
        height: 200px;
    }
    .gambar-berita{
        border-radius: 4px;
    }
    .isi-berita p{
        margin-bottom: 12px;
    }
    /* FOOTER */
    .footer-content {
        padding: 20px 16px;
    }
    .footer-brand img {
        max-width: 40px;
        max-height: 40px;
    }
    h4 {
        margin: 24px 0 12px !important;
    }
    .sosmed .list-inline {
        margin: 0 0 12px;
        flex-wrap: wrap;
        gap: 8px;
    }
}