/* galeri *******************************************************************************************************************/
.galeri-container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 12px 8px 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.galeri-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 250px;
    width: auto;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: .4s;
    text-align: center;
}
.galeri-card:hover{
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
}

@media (max-width: 768px){
    html{
        font-size: 12px;
    }
    
    /* NAVBAR */
    .navbar-brand img {
        width: 40px;
        height: 40px;
    }
    
    .galeri-card{
        height: 100px;
    }
    .galeri-card a{
        padding-bottom: 12px;
    }
    .galeri-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }

    /* FOOTER */
    .footer-content {
        padding: 20px 16px;
    }
    .footer-brand img {
        max-width: 40px;
        max-height: 40px;
    }
    h4 {
        margin: 24px 0 12px !important;
    }
    .sosmed .list-inline {
        margin: 0 0 12px;
        flex-wrap: wrap;
        gap: 8px;
    }
}