/* galeri *******************************************************************************************************************/
.galeri-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 12px 8px 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.galeri-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 250px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: .4s;
    text-align: center;
}
.overlay-galeri{
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #16752beb, rgba(22,117,43,.15));
    opacity: 0;
    border-radius: 10px;
    transition: .4s;
}
.galeri-card a{
    font-size: 1.1rem;
    position: absolute;
    padding-bottom: 24px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    opacity: 0;
    margin: 0;
    transition: .4s;
}
.galeri-card:hover .overlay-galeri{
    opacity: 1;
}
.galeri-card:hover a{
    opacity: 1;
}
.galeri-card:hover{
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
    z-index: 1;
}

@media (max-width: 768px){
    html{
        font-size: 12px;
    }
    
    /* NAVBAR */
    .navbar-brand img {
        width: 40px;
        height: 40px;
    }
    
    .galeri-card{
        height: 150px;
    }
    .galeri-card a{
        padding-bottom: 12px;
    }
    .galeri-container{
        grid-template-columns: repeat(2, 1fr);
    }

    /* FOOTER */
    .footer-content {
        padding: 20px 16px;
    }
    .footer-brand img {
        max-width: 40px;
        max-height: 40px;
    }
    h4 {
        margin: 24px 0 12px !important;
    }
    .sosmed .list-inline {
        margin: 0 0 12px;
        flex-wrap: wrap;
        gap: 8px;
    }
}