/* PPDB ******************************************************************************************************************8*/
.ppdb-card{
    background: white;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,.12);
}
.ppdb-card h2{
    margin-top: 0;
    margin-bottom: 18px;
    border-bottom: 3px solid var(--hitam-utama);
    padding-bottom: 12px;
}
.poster-img{
    width: 100%;
    border-radius: 12px;
    margin-bottom: 8px;
}
.poster-img:last-child{
    margin-bottom: 0;
}
.poster-card{
    padding-left: 0 !important;
    padding-right: 24px !important;
}
.status-box{
    background: linear-gradient(135deg,var(--hijau-utama),var(--hijau-tua));
    color: white;
    padding: 16px;
    text-align: center;
    font-weight:bold;
    border-radius: 12px;
    font-size: 1.2rem;
}
.ppdb-list{
    padding-left: 24px;
}
.ppdb-list li{
    font-size: 1.15rem;
    margin-bottom: 12px;
}
.alur-row{
    display: flex;
    align-items: stretch;
}
.alur-box{
    background: #f5f5f5;
    text-align: center;
    padding: 24px 16px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,.12);
    transition: .3s;
    height: 100%;
}
.alur-box:hover{
    transform: translateY(-8px);
}
.alur-box i{
    font-size: 40px;
    color: var(--hijau-utama);
    margin-bottom: 15px;
}
.kontak-item{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}
.kontak-item i{
    font-size: 28px;
    color: #25D366;
}
.kontak-item a{
    color: #333;
    text-decoration: none;
}
.kontak-item a:hover{
    color: var(--hijau-utama);
}

@media (max-width: 768px){
    html{
        font-size: 12px;
    }
    
    /* NAVBAR */
    .navbar-brand img {
        width: 40px;
        height: 40px;
    }
    
    .alur-row{
        display:block;
    }
    
    .alur-box{
        margin-bottom:16px;
    }

    /* FOOTER */
    .footer-content {
        padding: 20px 16px;
    }
    .footer-brand img {
        max-width: 40px;
        max-height: 40px;
    }
    h4 {
        margin: 24px 0 12px !important;
    }
    .sosmed .list-inline {
        margin: 0 0 12px;
        flex-wrap: wrap;
        gap: 8px;
    }
}