/* profile *******************************************************************************************************************/
.info-card, .identitas-card, .struktur-card{
    background: white;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,.12);
}
.info-card h2, .identitas-card h2, .struktur-card h2{
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--hitam-utama);
    padding-bottom: 10px;
}
.col-md-4{
    padding: 0 16px 16px !important;
}
.foto-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 12px;
}
.foto-card img{
    width: 100%;
    background-color: var(--hijau-utama);
    margin-bottom: 12px;
    border-radius: 8px;
}
#id-card{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
}
.foto-card h3{
    margin-top: 0;
    font-weight: bold;
}
.identitas-card table{
    margin-bottom: 0;
}
.identitas-card td:first-child{
    width: 220px;
    font-weight: bold;
}
.struktur-img{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.info-card ul{
    padding-left: 20px;
}
.info-card li{
    font-size: 1.2rem;
    margin-bottom: 6px;
}
.info-card p{
    font-size: 1.2rem;
    text-indent: 1rem;
}

/* Tampilan Mobile ***********************************************************************/
@media (max-width: 768px){
    html{
        font-size: 12px;
    }

    /* NAVBAR */
    .navbar-brand img {
        width: 40px;
        height: 40px;
    }
    
    .foto-kepsek{
        padding: 16px !important;
    }
    .identitas-card td:first-child{
        width: 120px;
    }
    
    /* FOOTER */
    .footer-content {
        padding: 20px 16px;
    }
    .footer-brand img {
        max-width: 40px;
        max-height: 40px;
    }
    h4 {
        margin: 24px 0 12px !important;
    }
    .sosmed .list-inline {
        margin: 0 0 12px;
        flex-wrap: wrap;
        gap: 8px;
    }
}